<h1 class="visibility-hidden">{{ help_center.name }}</h1>

<section id="main-content" class="section hero">
  <div class="hero-inner">
    <h2 class="visibility-hidden">{{ t 'search' }}</h2>
    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-icon" aria-hidden="true">
      <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor"/>
      <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5"/>
    </svg>
    {{search submit=true instant=settings.instant_search class='search search-full'}}
  </div>
</section>
<section class="menu-categories">
  <nav class="nav">
    <div class="nav--arrow-left">
      <img src="{{asset 'img_nav_arrow_left.png'}}" alt="">
    </div>
    <div class="nav--text-profile">
      <span>I'm a</span>
    </div>
    <div class="nav--arrow-rigth">
      <img src="{{asset 'img_nav_arrow_right.png'}}" alt="">
    </div>
    <div class="nav--button-client">
      {{#is category.id 200296637}}
        <img src="{{asset 'img_nav_button_client_on.png'}}" alt="button client">
      {{/is}}
      {{#is category.id 200296218}}
        <a href="/hc/en-us/categories/200296637-Help-for-Clients">
            <img src="{{asset 'img_nav_button_client_off.png'}}" alt="button client">
        </a>
      {{/is}}
    </div>
    <div class="nav--button-pros">
      {{#is category.id 200296637}}
        <a href="/hc/en-us/categories/200296218-Help-for-Pros">
          <img src="{{asset 'img_nav_button_pros_off.png'}}" alt="button pros">
        </a>
      {{/is}}
      {{#is category.id 200296218}}
        <img src="{{asset 'img_nav_button_pros_on.png'}}" alt="button pros">
      {{/is}}
    </div>
  </nav>
</section>
<div class="container">
  <section class="section knowledge-base">
    <h2 class="visibility-hidden">{{ t 'categories' }}</h2>
    <div class="banner" {{#is category.id 200296637}}hidden{{/is}}>
      <div class="pro-join-community-banner__image">
        {{#link 'community' class="pro-join-community-banner__button"}}JOIN OUR COMMUNITY{{/link}}
        <div class="banner-community__text">
          <span class="banner-community__text_big">Would you like to have a conversation?</span>
          <span class="banner-community__text_medium">Let us take you to our Community for Pros!</span>
        </div>
      </div>
    </div>


    <span class="section__message">
      Choose the topic that best matches your question
    </span>
    <section class="cards">
      {{#each sections }}
      <a href="{{url}}" class="card">
        <div class="card-container">
          <div class="card__top">
            {{#is name 'Update'}}
            <img class="card__image" src="{{asset 'img_sec_update.png'}}" id="cat-{{id}}" alt="{{name}}">
            {{/is}}

            {{#is name 'Updates'}}
            <img class="card__image" src="{{asset 'img_sec_update.png'}}" id="cat-{{id}}" alt="{{name}}">
            {{/is}}

            {{#is name 'General'}}
            <img class="card__image" src="{{asset 'img_sec_general.png'}}" id="cat-{{id}}" alt="{{name}}">
            {{/is}}

            {{#is name 'Payments'}}
            <img class="card__image" src="{{asset 'img_sec_payments.png'}}" id="cat-{{id}}" alt="{{name}}">
            {{/is}}

            {{#is name 'Copyrights'}}
            <img class="card__image" src="{{asset 'img_sec_copyright.png'}}" id="cat-{{id}}" alt="{{name}}">
            {{/is}}

            {{#is name 'Revisions'}}
            <img class="card__image" src="{{asset 'img_sec_revisions.png'}}" id="cat-{{id}}" alt="{{name}}">
            {{/is}}

            {{#is name 'Add-ons'}}
            <img class="card__image" src="{{asset 'img_sec_add_on.png'}}" id="cat-{{id}}" alt="{{name}}">
            {{/is}}

            {{#is name 'Account Preferences'}}
            <img class="card__image" src="{{asset 'img_sec_account_preferences.png'}}" id="cat-{{id}}" alt="{{name}}">
            {{/is}}

            {{#is name 'Account'}}
            <img class="card__image" src="{{asset 'img_sec_account_preferences.png'}}" id="cat-{{id}}" alt="{{name}}">
            {{/is}}

            {{#is name 'Affiliates and API'}}
            <img class="card__image" src="{{asset 'img_sec_afiliates_and_api.png'}}" id="cat-{{id}}" alt="{{name}}">
            {{/is}}

            {{#is name 'Getting Started'}}
            <img class="card__image" src="{{asset 'img_sec_getting_started.png'}}" id="cat-{{id}}" alt="{{name}}">
            {{/is}}

            {{#is name 'Getting started'}}
            <img class="card__image" src="{{asset 'img_sec_getting_started.png'}}" id="cat-{{id}}" alt="{{name}}">
            {{/is}}

            {{#is name 'Samples'}}
            <img class="card__image" src="{{asset 'img_sec_samples.png'}}" id="cat-{{id}}" alt="{{name}}">
            {{/is}}

            {{#is name 'Stats'}}
            <img class="card__image" src="{{asset 'img_sec_stats.png'}}" id="cat-{{id}}" alt="{{name}}">
            {{/is}}

            {{#is name 'Projects'}}
            <img class="card__image" src="{{asset 'img_sec_projects.png'}}" id="cat-{{id}}" alt="{{name}}">
            {{/is}}

            {{#is name 'Rejections'}}
            <img class="card__image" src="{{asset 'img_sec_rejections.png'}}" id="cat-{{id}}" alt="{{name}}">
            {{/is}}

            {{#is name 'Rates'}}
            <img class="card__image" src="{{asset 'img_sec_rates.png'}}" id="cat-{{id}}" alt="{{name}}">
            {{/is}}

            {{#is name 'Quality Control Standards'}}
            <img class="card__image" src="{{asset 'img_sec_quality_control_standards.png'}}" id="cat-{{id}}" alt="{{name}}">
            {{/is}}



          </div>
          <div class="card__middle">
            <b class="card__title">{{name}}</b>
          </div>
          <div class="card__bottom">
            <p class="card__description">{{description}}</p>
          </div>
        </div>
      </a>
      {{/each}}
    </section>
  </section>
</div>
{{!--#if promoted_articles--}}
<div class="container-articles section">
  <section class="container">
    <h3><h3>Most popular articles</h3></h3>
    <!-- TODO para borrar-->
    <div class="list-articles">
      <div class="popular-article">
        <i class="bunny-icon"><img src="{{asset 'img_icon_carrot.svg'}}" alt="carrot bunny studio"></i>
        <div class="popular-article-content">
          <div class="popular-article-content--title">
            <a href="">What payment methods do you have available</a>
          </div>
          <div class="popular-article-content--excerpt">
            <p>Clients can complete payments via PayPal, and Credit Card...</p>
          </div>
          <div class="popular-article-content--more">
            <a href="">
            <span>
              Read more
              <i class="fas fa-chevron-right"><span>more</span></i>
            </span>
            </a>
          </div>
        </div>
      </div>
      <div class="popular-article">
        <i class="bunny-icon"><img src="{{asset 'img_icon_carrot.svg'}}" alt="carrot bunny studio"></i>
        <div class="popular-article-content">
          <div class="popular-article-content--title">
            <a href="">What payment methods do you have available</a>
          </div>
          <div class="popular-article-content--excerpt">
            <p>Clients can complete payments via PayPal, and Credit Card...</p>
          </div>
          <div class="popular-article-content--more">
            <a href="">
            <span>
              Read more
              <i class="fas fa-chevron-right"><span>more</span></i>
            </span>
            </a>
          </div>
        </div>
      </div>
      <div class="popular-article">
        <i class="bunny-icon"><img src="{{asset 'img_icon_carrot.svg'}}" alt="carrot bunny studio"></i>
        <div class="popular-article-content">
          <div class="popular-article-content--title">
            <a href="">What payment methods do you have available</a>
          </div>
          <div class="popular-article-content--excerpt">
            <p>Clients can complete payments via PayPal, and Credit Card...</p>
          </div>
          <div class="popular-article-content--more">
            <a href="">
            <span>
              Read more
              <i class="fas fa-chevron-right"><span>more</span></i>
            </span>
            </a>
          </div>
        </div>
      </div>
      <div class="popular-article">
        <i class="bunny-icon"><img src="{{asset 'img_icon_carrot.svg'}}" alt="carrot bunny studio"></i>
        <div class="popular-article-content">
          <div class="popular-article-content--title">
            <a href="">What payment methods do you have available</a>
          </div>
          <div class="popular-article-content--excerpt">
            <p>Clients can complete payments via PayPal, and Credit Card...</p>
          </div>
          <div class="popular-article-content--more">
            <a href="">
            <span>
              Read more
              <i class="fas fa-chevron-right"><span>more</span></i>
            </span>
            </a>
          </div>
        </div>
      </div>
      <div class="popular-article">
        <i class="bunny-icon"><img src="{{asset 'img_icon_carrot.svg'}}" alt="carrot bunny studio"></i>
        <div class="popular-article-content">
          <div class="popular-article-content--title">
            <a href="">What payment methods do you have available</a>
          </div>
          <div class="popular-article-content--excerpt">
            <p>Clients can complete payments via PayPal, and Credit Card...</p>
          </div>
          <div class="popular-article-content--more">
            <a href="">
            <span>
              Read more
              <i class="fas fa-chevron-right"><span>more</span></i>
            </span>
            </a>
          </div>
        </div>
      </div>
      <div class="popular-article">
        <i class="bunny-icon"><img src="{{asset 'img_icon_carrot.svg'}}" alt="carrot bunny studio"></i>
        <div class="popular-article-content">
          <div class="popular-article-content--title">
            <a href="">What payment methods do you have available</a>
          </div>
          <div class="popular-article-content--excerpt">
            <p>Clients can complete payments via PayPal, and Credit Card...</p>
          </div>
          <div class="popular-article-content--more">
            <a href="">
            <span>
              Read more
              <i class="fas fa-chevron-right"><span>more</span></i>
            </span>
            </a>
          </div>
        </div>
      </div>
      <div class="popular-article">
        <i class="bunny-icon"><img src="{{asset 'img_icon_carrot.svg'}}" alt="carrot bunny studio"></i>
        <div class="popular-article-content">
          <div class="popular-article-content--title">
            <a href="">What payment methods do you have available</a>
          </div>
          <div class="popular-article-content--excerpt">
            <p>Clients can complete payments via PayPal, and Credit Card...</p>
          </div>
          <div class="popular-article-content--more">
            <a href="">
            <span>
              Read more
              <i class="fas fa-chevron-right"><span>more</span></i>
            </span>
            </a>
          </div>
        </div>
      </div>
      <div class="popular-article">
        <i class="bunny-icon"><img src="{{asset 'img_icon_carrot.svg'}}" alt="carrot bunny studio"></i>
        <div class="popular-article-content">
          <div class="popular-article-content--title">
            <a href="">What payment methods do you have available</a>
          </div>
          <div class="popular-article-content--excerpt">
            <p>Clients can complete payments via PayPal, and Credit Card...</p>
          </div>
          <div class="popular-article-content--more">
            <a href="">
            <span>
              Read more
              <i class="fas fa-chevron-right"><span>more</span></i>
            </span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- fin TODO-->
    {{#each promoted_articles}}
    <div class="popu-article">
      <div class="article-container">
        <div class="article__top">
          <a href="{{url}}" class="article__tittle">{{title}}</a>
          {{#if internal}}
          <span class="icon-lock" title="{{t 'internal'}}"></span>
          {{/if}}
        </div>
        <div class="article__middle">
          <p class="article__desc">{{excerpt body characters=50}}</p>
        </div>
        <div class="article__bottom">
          <a class="article__button" href="{{url}}">Read more</a>
        </div>
      </div>
    </div>
    {{/each}}
  </section>
</div>
{{!--/if--}}

<div class="container">
  <div class="second-banner banners-container">
    {{#is category.id 200296637}}
      <div class="second-banner second-banner--left client">
    {{/is}}
    {{#is category.id 200296218}}
      <div class="second-banner second-banner--left pros">
    {{/is}}
        <div class="second-banner--container-text">
          <span class="second-banner--left-first-text">Didnt find the solution to your issue?</span>
          <span class="second-banner--left-second-text">Dot not worry, take it easy!</span>
          {{#link 'new_post' class='button button-large'}}CONTACT US HERE{{/link}}
        </div>
    </div>
    {{#is category.id 200296637}}
      <div class="second-banner second-banner--right client">
    {{/is}}
    {{#is category.id 200296218}}
      <div class="second-banner second-banner--right pros">
    {{/is}}
        <div class="second-banner--container-text">
          {{#is category.id 200296637}}
            <span class="second-banner--right-first-text">What kind of talent creative work do you need?</span>
            <a href="#" class="button button-large">submit your project</a>
          {{/is}}
          {{#is category.id 200296218}}
              <span class="second-banner--right-first-text">Community for Pros</span>
              {{#link 'community' class="button button-large"}}JOIN OUR CONVERSATION{{/link}}
          {{/is}}

        </div>
    </div>
  </div>
</div>