<h1 class="visibility-hidden">{{ help_center.name }}</h1>

<section id="main-content" class="section hero">
  <div class="hero-inner">
    <h2 class="visibility-hidden">{{ t 'search' }}</h2>
    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-icon" aria-hidden="true">
      <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor"/>
      <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5"/>
    </svg>
    {{search submit=true instant=settings.instant_search class='search search-full'}}
  </div>
</section>
<section class="menu-categories">
  <nav class="nav">
    <div class="nav--arrow-left">
      <img src="{{asset 'img_nav_arrow_left.png'}}" alt="">
    </div>
    <div class="nav--text-profile">
      <span>I'm a</span>
    </div>
    <div class="nav--arrow-rigth">
      <img src="{{asset 'img_nav_arrow_right.png'}}" alt="">
    </div>
    <div class="nav--button-client">
      <img src="{{asset 'img_nav_button_client_off.png'}}" alt="">
    </div>
    <div class="nav--button-pros">
      <img src="{{asset 'img_nav_button_pros_off.png'}}" alt="">
    </div>
  </nav>
</section>
<div class="container">
  <section class="section knowledge-base">
    <h2 class="visibility-hidden">{{ t 'categories' }}</h2>
    <div class="banner">
      <div class="pro-join-community-banner__image">
        <a href="#" class="pro-join-community-banner__button">JOIN TO COMMUNITY</a>
        <div class="banner-community__text">
          <span class="banner-community__text_big">We waiting for you</span>
          <span class="banner-community__text_medium">in our Community for pros</span>
        </div>
      </div>
    </div>

    <span class="section__message">
        Hey buddy! to facilitate your search, choose a category that is closest to your issue
      </span>
    <section class="cards">
      {{#each sections }}
      <a href="{{url}}" class="card">
        <div class="card-container">
          <div class="card__top">
            <img class="card__image" src="{{asset 'img_icon_account_preferences.png'}}" alt="IMG" srcset="">
          </div>
          <div class="card__middle">
            <b class="card__title">{{name}}</b>
          </div>
          <div class="card__bottom">
            <p class="card__description">{{description}}</p>
          </div>
        </div>
      </a>
      {{/each}}
    </section>
  </section>
</div>
{{#if promoted_articles}}
<section class="home__bottom-articles">
  <h3>{{t 'promoted_articles'}}</h3>
  <div class="popu-articles">
    {{#each promoted_articles}}
    <div class="popu-article">
      <div class="article-container">
        <div class="article__top">
          <a href="{{url}}" class="article__tittle">{{title}}</a>
          {{#if internal}}
          <span class="icon-lock" title="{{t 'internal'}}"></span>
          {{/if}}
        </div>
        <div class="article__middle">
          <p class="article__desc">{{excerpt body characters=50}}</p>
        </div>
        <div class="article__bottom">
          <a class="article__button" href="{{url}}">Read more</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</section>
{{/if}}

<div class="container">
  <div class="home__publicity">
    <div class="pro-contact-us-banner__image">
      <span class="banner__text banner__text--bold">Didnt find the solution to your issue?</span>
      <span class="banner__text banner__text--normal">Dot not worry, take it easy!</span>
      <a href="#" class="button button-large">CONTACT US HERE</a>
    </div>
    <div class="pro-join-banner__image">
      <span class="banner__text banner__text--bold">Community for Pros</span>
      <a href="#" class="button button-large">JOIN OUR CONVERSATION</a>
    </div>
  </div>
</div>