<h1 class="visibility-hidden">{{ help_center.name }}</h1>

<section id="main-content" class="section hero">
  <div class="hero-inner">
    <h2 class="visibility-hidden">{{ t 'search' }}</h2>
    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12"
      class="search-icon" aria-hidden="true">
      <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor" />
      <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5" />
    </svg>
    {{search submit=false instant=settings.instant_search class='search search-full'}}
  </div>
</section>

<div class="container">
  <section class="section knowledge-base">
    <h2 class="visibility-hidden">{{ t 'categories' }}</h2>

    <div class="banner">
      <div class="pro-join-community-banner__image">
        <a href="#" class="pro-join-community-banner__button">JOIN TO COMMUNITY</a>
      </div>
    </div>

    <div class="section__message">
      Hey buddy! to facilitate your search, choose a category that is closest to your issue
    </div>
    <section class="cards">
      {{#each sections }}
      <a href="{{url}}" class="card">
        <div class="card-container">
          <div class="card__top">
            <img class="card__image" src="{{asset 'img_icon_account_preferences.png'}}" alt="IMG" srcset="">
          </div>
          <div class="card__middle">
            <b class="card__title">{{name}}</b>
          </div>
          <div class="card__bottom">
            <p class="card__description">{{description}}</p>
          </div>
        </div>
      </a>
      {{/each}}
    </section>
  </section>
</div>
<section class="home__bottom-articles">
  <h3>Most popular articles</h3>
  <div class="popu-articles">
    <div class="popu-article">
      <div class="article-container">
        <div class="article__top">
          <h4 class="article__tittle">What payments methods do you have available?</h4>
        </div>
        <div class="article__middle">
          <p class="article__desc">Clients can complete payments via PayPal, and Credit Card...</p>
        </div>
        <div class="article__bottom">
          <a class="article__button" href="#">Read more</a>
        </div>
      </div>
    </div>
  </div>
</section>

{{!#if promoted_articles}}
<section class="articles">
  <h3>{{t 'promoted_articles'}}</h3>
  <ul class="article-list promoted-articles">
    {{#each promoted_articles}}
    <li class="promoted-articles-item">
      <a href="{{url}}">
        {{title}}
      </a>
      {{#if internal}}
      <span class="icon-lock" title="{{t 'internal'}}"></span>
      {{/if}}
    </li>
    {{/each}}
  </ul>
</section>
{{!/if}}

<div class="container">
  <div class="home__publicity">
    <div class="pro-contact-us-banner__image"></div>
    <div class="pro-join-banner__image"></div>
  </div>
</div>