<h1 class="visibility-hidden">{{ t 'community'}}</h1>

<section class="section hero community-hero">
  <h2 class="visibility-hidden">{{ t 'search'}}</h2>
  <div class="hero-inner">
    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12"
      class="search-icon" aria-hidden="true">
      <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor" />
      <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5" />
    </svg>
    {{search submit=false class='search search-full' scoped=settings.scoped_community_search}}
  </div>
</section>

<div class="container">
  {{!-- <nav class="sub-nav">
    {{breadcrumbs}}
  </nav> --}}

  {{!-- <header class="page-header community-header">
      <span class="dropdown">
          <button class="dropdown-toggle" aria-haspopup="true">
            <h2 class="title">
              {{t 'community_topics'}}
            </h2>
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="dropdown-chevron-icon">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
            </svg>
          </button>
        <span class="dropdown-menu" role="menu">
          {{#link 'topics' role='menuitem' selected='true'}}
            {{t 'show_topics'}}
          {{/link}}
          {{#link 'posts' role='menuitem'}}
            {{t 'show_all_posts'}}
          {{/link}}
        </span>
      </span>
    <span class="post-to-community">
      {{link 'new_post' class='button button-large'}}
    </span>
  </header> --}}
  <div class="description__text">
    <span class="section__message description__text--firstline">Here you can share your experience and ideas, ask and
      answer questions, and meet, other creatives like you.</span>
    <span class="section__message description__text--secondline">Choose the creative group in wich you work. If you want
      participate you must login with your Bunny account.</span>
  </div>

  <nav class="sub-nav sub-nav--centered">
    <li><a href="#">Voice-overs</a></li>
    <li><a href="#">Video</a></li>
    <li><a href="#">Audio</a></li>
    <li><a href="#">Design</a></li>
    <li><a href="#">Post-production</a></li>
    <li><a href="#">Traslation</a></li>
    <li><a href="#">Transcription</a></li>
    <li><a href="#">Writing</a></li>
  </nav>

  {{#unless topics}}
  <p>{{t 'no_content'}}</p>
  {{/unless}}

  <section class="cards">
    {{#each topics}}
    <a href="{{url}}" class="card">
      <div class="card-container">
        <div class="card__top">
          {{! Descomentar para realizar las condiciones y cargar las imágenes}}

          {{#is name 'Tips and advice'}}
          <img class="card__image" src="{{asset 'img_sec_tips_and_advice.png'}}" id="cat-{{id}}" alt="{{name}}">
          {{/is}}

          {{#is name 'Working with us'}}
          <img class="card__image" src="{{asset 'img_sec_working_with_us.png'}}" id="cat-{{id}}" alt="{{name}}">
          {{/is}}

          {{#is name 'Get feedback'}}
          <img class="card__image" src="{{asset 'img_sec_get_feedback.png'}}" id="cat-{{id}}" alt="{{name}}">
          {{/is}}

          {{#is name 'Suggest features'}}
          <img class="card__image" src="{{asset 'img_sec_suggest_features.png'}}" id="cat-{{id}}" alt="{{name}}">
          {{/is}}

          {{#is name 'Why was my submission rejected?'}}
          <img class="card__image" src="{{asset 'img_sec_rejections.png'}}" id="cat-{{id}}" alt="{{name}}">
          {{/is}}

          {{#is name 'Audio discussions'}}
          <img class="card__image" src="{{asset 'img_sec_rates.png'}}" id="cat-{{id}}" alt="{{name}}">
          {{/is}}

          {{#is name 'Webinars recaps'}}
          <img class="card__image" src="{{asset 'img_sec_webinar_recaps.png'}}" id="cat-{{id}}" alt="{{name}}">
          {{/is}}

          {{#is name 'Report an issue!'}}
          <img class="card__image" src="{{asset 'img_sec_report_an_issue.png'}}" id="cat-{{id}}" alt="{{name}}">
          {{/is}}

        </div>
        <div class="card__middle">
          <b class="card__title">{{name}}</b>
        </div>
        <div class="card__bottom">
          <p class="card__description">{{excerpt description characters=70}}</p>
        </div>
      </div>
    </a>
    {{/each}}
  </section>

  {{pagination}}

  <h3 class="h3">Most popular articles</h3>

  <div class="carousel" data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>
  </div>

  <div class="articles-section-container">
    <div class="articles-section-container-posts">
      <ul class="tabs">
        <li><a href="#top">Top</a></li>
        <li><a href="#recent">Recent</a></li>
      </ul>
      <div class="tab_container">
        <div class="top-section tab_content" id="top">
          <div id="main-content" class="posts-list">
            {{!#each promoted_articles}}
            <section role="region" aria-labelledby="title-{{!id}}">
              <div class="striped-list-item">
                <span class="striped-list-picture">
                  <img
                    src="https://secure.gravatar.com/avatar/304026b94e9b281622a68bb02817e6d3?default=https%3A%2F%2Fassets.zendesk.com%2Fhc%2Fassets%2Fdefault_avatar.png&r=g"
                    alt="Avatar" class="community-posts-user-avatar" srcset="">
                </span>
                <span class="striped-list-info">
                  <a href="#" id="title-" class="striped-list-title">Webinar: How To Opimize Your Remote Work Experience</a>

                  <div class="meta-group">
                    {{!#link 'user_profile' id=author.id}}
                    <a href="#"> Katie #91KMIA8</a>
                    {{!/link}}
                    <ul class="header--post-data">
                      <span>
                        <li class="fas fa-calendar-alt"><span></span></li>
                        22-07-2020
                      </span>
                      <span>
                        <li class="fas fa-comment"><span></span></li>
                        3,456
                      </span>
                      <span>
                        <li class="fas fa-eye"><span></span></li>
                        5 hours ago
                      </span>
                      <span>
                        <li class="fas fa-thumbs-up"><span></span></li>
                        8,567
                      </span>
                    </ul>
                  </div>
                  <!-- TODO: RESUMEN DEL POST ACTUAL-->
                  
                  <div class="striped-list-info-body">
                    <span class="striped-list-details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi illo maiores eos mollitia quae obcaecati ratione, voluptatibus porro dolore Animi illo maiores eos mollitia quae obcaecati ratione.</span>
                    <a href="#" id="title-id-del-post">read more.</a>
                  </div>

                  <div>
                    {{!#if pinned}}
                    <span class="status-label status-label-pinned">{{t 'pinned'}}</span>
                    {{!/if}}
                    {{!#if featured}}
                    <span class="status-label status-label-featured">{{t 'featured'}}</span>
                    {{!/if}}
                    {{!#is status 'none'}}
                    {{!else}}
                    <span
                      class="status-label-{{!status_dasherized}} status-label striped-list-status">{{!status_name}}</span>
                    {{!/is}}
                  </div>
                </span>
              </div>
            </section>
            
            <section role="region" aria-labelledby="title-{{!id}}">
              <div class="striped-list-item">
                <span class="striped-list-picture">
                  <img
                    src="https://secure.gravatar.com/avatar/304026b94e9b281622a68bb02817e6d3?default=https%3A%2F%2Fassets.zendesk.com%2Fhc%2Fassets%2Fdefault_avatar.png&r=g"
                    alt="Avatar" class="community-posts-user-avatar" srcset="">
                </span>
                <span class="striped-list-info">
                  <a href="#" id="title-" class="striped-list-title">Webinar: How To Opimize Your Remote Work Experience</a>

                  <div class="meta-group">
                    {{!#link 'user_profile' id=author.id}}
                    <a href="#"> Katie #91KMIA8</a>
                    {{!/link}}
                    <ul class="header--post-data">
                      <span>
                        <li class="fas fa-calendar-alt"><span></span></li>
                        22-07-2020
                      </span>
                      <span>
                        <li class="fas fa-comment"><span></span></li>
                        3,456
                      </span>
                      <span>
                        <li class="fas fa-eye"><span></span></li>
                        5 hours ago
                      </span>
                      <span>
                        <li class="fas fa-thumbs-up"><span></span></li>
                        8,567
                      </span>
                    </ul>
                  </div>
                  <!-- TODO: RESUMEN DEL POST ACTUAL-->
                  
                  <div class="striped-list-info-body">
                    <span class="striped-list-details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi illo maiores eos mollitia quae obcaecati ratione, voluptatibus porro dolore Animi illo maiores eos mollitia quae obcaecati ratione.</span>
                    <a href="#" id="title-id-del-post">read more.</a>
                  </div>

                  <div>
                    {{!#if pinned}}
                    <span class="status-label status-label-pinned">{{t 'pinned'}}</span>
                    {{!/if}}
                    {{!#if featured}}
                    <span class="status-label status-label-featured">{{t 'featured'}}</span>
                    {{!/if}}
                    {{!#is status 'none'}}
                    {{!else}}
                    <span
                      class="status-label-{{!status_dasherized}} status-label striped-list-status">{{!status_name}}</span>
                    {{!/is}}
                  </div>
                </span>
              </div>
            </section>

            <section role="region" aria-labelledby="title-{{!id}}">
              <div class="striped-list-item">
                <span class="striped-list-picture">
                  <img
                    src="https://secure.gravatar.com/avatar/304026b94e9b281622a68bb02817e6d3?default=https%3A%2F%2Fassets.zendesk.com%2Fhc%2Fassets%2Fdefault_avatar.png&r=g"
                    alt="Avatar" class="community-posts-user-avatar" srcset="">
                </span>
                <span class="striped-list-info">
                  <a href="#" id="title-" class="striped-list-title">Webinar: How To Opimize Your Remote Work Experience</a>

                  <div class="meta-group">
                    {{!#link 'user_profile' id=author.id}}
                    <a href="#"> Katie #91KMIA8</a>
                    {{!/link}}
                    <ul class="header--post-data">
                      <span>
                        <li class="fas fa-calendar-alt"><span></span></li>
                        22-07-2020
                      </span>
                      <span>
                        <li class="fas fa-comment"><span></span></li>
                        3,456
                      </span>
                      <span>
                        <li class="fas fa-eye"><span></span></li>
                        5 hours ago
                      </span>
                      <span>
                        <li class="fas fa-thumbs-up"><span></span></li>
                        8,567
                      </span>
                    </ul>
                  </div>
                  <!-- TODO: RESUMEN DEL POST ACTUAL-->
                  
                  <div class="striped-list-info-body">
                    <span class="striped-list-details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi illo maiores eos mollitia quae obcaecati ratione, voluptatibus porro dolore Animi illo maiores eos mollitia quae obcaecati ratione.</span>
                    <a href="#" id="title-id-del-post">read more.</a>
                  </div>

                  <div>
                    {{!#if pinned}}
                    <span class="status-label status-label-pinned">{{t 'pinned'}}</span>
                    {{!/if}}
                    {{!#if featured}}
                    <span class="status-label status-label-featured">{{t 'featured'}}</span>
                    {{!/if}}
                    {{!#is status 'none'}}
                    {{!else}}
                    <span
                      class="status-label-{{!status_dasherized}} status-label striped-list-status">{{!status_name}}</span>
                    {{!/is}}
                  </div>
                </span>
              </div>
            </section>

            <section role="region" aria-labelledby="title-{{!id}}">
              <div class="striped-list-item">
                <span class="striped-list-picture">
                  <img
                    src="https://secure.gravatar.com/avatar/304026b94e9b281622a68bb02817e6d3?default=https%3A%2F%2Fassets.zendesk.com%2Fhc%2Fassets%2Fdefault_avatar.png&r=g"
                    alt="Avatar" class="community-posts-user-avatar" srcset="">
                </span>
                <span class="striped-list-info">
                  <a href="#" id="title-" class="striped-list-title">Webinar: How To Opimize Your Remote Work Experience</a>

                  <div class="meta-group">
                    {{!#link 'user_profile' id=author.id}}
                    <a href="#"> Katie #91KMIA8</a>
                    {{!/link}}
                    <ul class="header--post-data">
                      <span>
                        <li class="fas fa-calendar-alt"><span></span></li>
                        22-07-2020
                      </span>
                      <span>
                        <li class="fas fa-comment"><span></span></li>
                        3,456
                      </span>
                      <span>
                        <li class="fas fa-eye"><span></span></li>
                        5 hours ago
                      </span>
                      <span>
                        <li class="fas fa-thumbs-up"><span></span></li>
                        8,567
                      </span>
                    </ul>
                  </div>
                  <!-- TODO: RESUMEN DEL POST ACTUAL-->
                  
                  <div class="striped-list-info-body">
                    <span class="striped-list-details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi illo maiores eos mollitia quae obcaecati ratione, voluptatibus porro dolore Animi illo maiores eos mollitia quae obcaecati ratione.</span>
                    <a href="#" id="title-id-del-post">read more.</a>
                  </div>

                  <div>
                    {{!#if pinned}}
                    <span class="status-label status-label-pinned">{{t 'pinned'}}</span>
                    {{!/if}}
                    {{!#if featured}}
                    <span class="status-label status-label-featured">{{t 'featured'}}</span>
                    {{!/if}}
                    {{!#is status 'none'}}
                    {{!else}}
                    <span
                      class="status-label-{{!status_dasherized}} status-label striped-list-status">{{!status_name}}</span>
                    {{!/is}}
                  </div>
                </span>
              </div>
            </section>
            {{!/each}}
          </div>
        </div>

        <div class="recent-section tab_content" id="recent">
          <div id="main-content" class="posts-list">
            {{!#each posts}}
            <section role="region" aria-labelledby="title-{{!id}}">
              <div class="striped-list-item">
                <span class="striped-list-picture">
                  <img
                    src="https://secure.gravatar.com/avatar/304026b94e9b281622a68bb02817e6d3?default=https%3A%2F%2Fassets.zendesk.com%2Fhc%2Fassets%2Fdefault_avatar.png&r=g"
                    alt="Avatar" class="community-posts-user-avatar" srcset="">
                </span>
                <span class="striped-list-info">
                  <a href="#" id="title-" class="striped-list-title">Webinar: How To Opimize Your Remote Work Experience</a>

                  <div class="meta-group">
                    {{!#link 'user_profile' id=author.id}}
                    <a href="#"> Katie #91KMIA8</a>
                    {{!/link}}
                    <ul class="header--post-data">
                      <span>
                        <li class="fas fa-calendar-alt"><span></span></li>
                        22-07-2020
                      </span>
                      <span>
                        <li class="fas fa-comment"><span></span></li>
                        3,456
                      </span>
                      <span>
                        <li class="fas fa-eye"><span></span></li>
                        5 hours ago
                      </span>
                      <span>
                        <li class="fas fa-thumbs-up"><span></span></li>
                        8,567
                      </span>
                    </ul>
                  </div>
                  <!-- TODO: RESUMEN DEL POST ACTUAL-->
                  
                  <div class="striped-list-info-body">
                    <span class="striped-list-details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi illo maiores eos mollitia quae obcaecati ratione, voluptatibus porro dolore Animi illo maiores eos mollitia quae obcaecati ratione.</span>
                    <a href="#" id="title-id-del-post">read more.</a>
                  </div>

                  <div>
                    {{!#if pinned}}
                    <span class="status-label status-label-pinned">{{t 'pinned'}}</span>
                    {{!/if}}
                    {{!#if featured}}
                    <span class="status-label status-label-featured">{{t 'featured'}}</span>
                    {{!/if}}
                    {{!#is status 'none'}}
                    {{!else}}
                    <span
                      class="status-label-{{!status_dasherized}} status-label striped-list-status">{{!status_name}}</span>
                    {{!/is}}
                  </div>
                </span>
              </div>
            </section>
            
            <section role="region" aria-labelledby="title-{{!id}}">
              <div class="striped-list-item">
                <span class="striped-list-picture">
                  <img
                    src="https://secure.gravatar.com/avatar/304026b94e9b281622a68bb02817e6d3?default=https%3A%2F%2Fassets.zendesk.com%2Fhc%2Fassets%2Fdefault_avatar.png&r=g"
                    alt="Avatar" class="community-posts-user-avatar" srcset="">
                </span>
                <span class="striped-list-info">
                  <a href="#" id="title-" class="striped-list-title">Webinar: How To Opimize Your Remote Work Experience</a>

                  <div class="meta-group">
                    {{!#link 'user_profile' id=author.id}}
                    <a href="#"> Katie #91KMIA8</a>
                    {{!/link}}
                    <ul class="header--post-data">
                      <span>
                        <li class="fas fa-calendar-alt"><span></span></li>
                        22-07-2020
                      </span>
                      <span>
                        <li class="fas fa-comment"><span></span></li>
                        3,456
                      </span>
                      <span>
                        <li class="fas fa-eye"><span></span></li>
                        5 hours ago
                      </span>
                      <span>
                        <li class="fas fa-thumbs-up"><span></span></li>
                        8,567
                      </span>
                    </ul>
                  </div>
                  <!-- TODO: RESUMEN DEL POST ACTUAL-->
                  
                  <div class="striped-list-info-body">
                    <span class="striped-list-details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi illo maiores eos mollitia quae obcaecati ratione, voluptatibus porro dolore Animi illo maiores eos mollitia quae obcaecati ratione.</span>
                    <a href="#" id="title-id-del-post">read more.</a>
                  </div>

                  <div>
                    {{!#if pinned}}
                    <span class="status-label status-label-pinned">{{t 'pinned'}}</span>
                    {{!/if}}
                    {{!#if featured}}
                    <span class="status-label status-label-featured">{{t 'featured'}}</span>
                    {{!/if}}
                    {{!#is status 'none'}}
                    {{!else}}
                    <span
                      class="status-label-{{!status_dasherized}} status-label striped-list-status">{{!status_name}}</span>
                    {{!/is}}
                  </div>
                </span>
              </div>
            </section>

            <section role="region" aria-labelledby="title-{{!id}}">
              <div class="striped-list-item">
                <span class="striped-list-picture">
                  <img
                    src="https://secure.gravatar.com/avatar/304026b94e9b281622a68bb02817e6d3?default=https%3A%2F%2Fassets.zendesk.com%2Fhc%2Fassets%2Fdefault_avatar.png&r=g"
                    alt="Avatar" class="community-posts-user-avatar" srcset="">
                </span>
                <span class="striped-list-info">
                  <a href="#" id="title-" class="striped-list-title">Webinar: How To Opimize Your Remote Work Experience</a>

                  <div class="meta-group">
                    {{!#link 'user_profile' id=author.id}}
                    <a href="#"> Katie #91KMIA8</a>
                    {{!/link}}
                    <ul class="header--post-data">
                      <span>
                        <li class="fas fa-calendar-alt"><span></span></li>
                        22-07-2020
                      </span>
                      <span>
                        <li class="fas fa-comment"><span></span></li>
                        3,456
                      </span>
                      <span>
                        <li class="fas fa-eye"><span></span></li>
                        5 hours ago
                      </span>
                      <span>
                        <li class="fas fa-thumbs-up"><span></span></li>
                        8,567
                      </span>
                    </ul>
                  </div>
                  <!-- TODO: RESUMEN DEL POST ACTUAL-->
                  
                  <div class="striped-list-info-body">
                    <span class="striped-list-details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi illo maiores eos mollitia quae obcaecati ratione, voluptatibus porro dolore Animi illo maiores eos mollitia quae obcaecati ratione.</span>
                    <a href="#" id="title-id-del-post">read more.</a>
                  </div>

                  <div>
                    {{!#if pinned}}
                    <span class="status-label status-label-pinned">{{t 'pinned'}}</span>
                    {{!/if}}
                    {{!#if featured}}
                    <span class="status-label status-label-featured">{{t 'featured'}}</span>
                    {{!/if}}
                    {{!#is status 'none'}}
                    {{!else}}
                    <span
                      class="status-label-{{!status_dasherized}} status-label striped-list-status">{{!status_name}}</span>
                    {{!/is}}
                  </div>
                </span>
              </div>
            </section>

            <section role="region" aria-labelledby="title-{{!id}}">
              <div class="striped-list-item">
                <span class="striped-list-picture">
                  <img
                    src="https://secure.gravatar.com/avatar/304026b94e9b281622a68bb02817e6d3?default=https%3A%2F%2Fassets.zendesk.com%2Fhc%2Fassets%2Fdefault_avatar.png&r=g"
                    alt="Avatar" class="community-posts-user-avatar" srcset="">
                </span>
                <span class="striped-list-info">
                  <a href="#" id="title-" class="striped-list-title">Webinar: How To Opimize Your Remote Work Experience</a>

                  <div class="meta-group">
                    {{!#link 'user_profile' id=author.id}}
                    <a href="#"> Katie #91KMIA8</a>
                    {{!/link}}
                    <ul class="header--post-data">
                      <span>
                        <li class="fas fa-calendar-alt"><span></span></li>
                        22-07-2020
                      </span>
                      <span>
                        <li class="fas fa-comment"><span></span></li>
                        3,456
                      </span>
                      <span>
                        <li class="fas fa-eye"><span></span></li>
                        5 hours ago
                      </span>
                      <span>
                        <li class="fas fa-thumbs-up"><span></span></li>
                        8,567
                      </span>
                    </ul>
                  </div>
                  <!-- TODO: RESUMEN DEL POST ACTUAL-->
                  
                  <div class="striped-list-info-body">
                    <span class="striped-list-details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi illo maiores eos mollitia quae obcaecati ratione, voluptatibus porro dolore Animi illo maiores eos mollitia quae obcaecati ratione.</span>
                    <a href="#" id="title-id-del-post">read more.</a>
                  </div>

                  <div>
                    {{!#if pinned}}
                    <span class="status-label status-label-pinned">{{t 'pinned'}}</span>
                    {{!/if}}
                    {{!#if featured}}
                    <span class="status-label status-label-featured">{{t 'featured'}}</span>
                    {{!/if}}
                    {{!#is status 'none'}}
                    {{!else}}
                    <span
                      class="status-label-{{!status_dasherized}} status-label striped-list-status">{{!status_name}}</span>
                    {{!/is}}
                  </div>
                </span>
              </div>
            </section>
            {{!/each}}
          </div>
        </div>
      </div>
    </div>
    <div class="articles-section-container-aside">
      <div class="articles-section-container-aside__image"></div>
      <div class="articles-section-container-aside__box articles-section-container-aside__box--bordered">
        <section class="community-activity activity">
          {{#if help_center.community_enabled}}
          {{recent_activity scope='community'}}
          {{/if}}
        </section>
      </div>
      <div class="articles-section-container-aside__contributors">
        <span class="contributors-title">Top contributors</span>
        <div class="contributors">

          <div class="contributors-card contributors-card--first">
            <div class="contributors-card-picture">
              <img src="https://secure.gravatar.com/avatar/304026b94e9b281622a68bb02817e6d3?default=https%3A%2F%2Fassets.zendesk.com%2Fhc%2Fassets%2Fdefault_avatar.png&r=g" alt="AVATAR"
                class="contributors-avatar--first" />
            </div>
            <div class="contributors-card-data">
              <a href="#" class="contributors-card-data-top">Katie #91KMIA8</a>
              <span class="contributors-card-data-middle">Colonia, Germany</span>
              <span class="contributors-card-data-bottom">
                <span class="fas fa-comment">3,456</span>
                <span class="fas fa-thumbs-up">8,567</span>
              </span>
            </div>
          </div>

          <div class="contributors-card">
            <div class="contributors-card-picture">
              <img src="https://secure.gravatar.com/avatar/304026b94e9b281622a68bb02817e6d3?default=https%3A%2F%2Fassets.zendesk.com%2Fhc%2Fassets%2Fdefault_avatar.png&r=g" alt="AVATAR"
                class="contributors-avatar" />
            </div>
            <div class="contributors-card-data">
              <a href="#" class="contributors-card-data-top">Katie #91KMIA8</a>
              <span class="contributors-card-data-middle">Colonia, Germany</span>
              <span class="contributors-card-data-bottom">
                <span class="fas fa-comment">3,456</span>
                <span class="fas fa-thumbs-up">8,567</span>
              </span>
            </div>
          </div>

          <div class="contributors-card">
            <div class="contributors-card-picture">
              <img src="https://secure.gravatar.com/avatar/304026b94e9b281622a68bb02817e6d3?default=https%3A%2F%2Fassets.zendesk.com%2Fhc%2Fassets%2Fdefault_avatar.png&r=g" alt="AVATAR"
                class="contributors-avatar" />
            </div>
            <div class="contributors-card-data">
              <a href="#" class="contributors-card-data-top">Katie #91KMIA8</a>
              <span class="contributors-card-data-middle">Colonia, Germany</span>
              <span class="contributors-card-data-bottom">
                <span class="fas fa-comment">3,456</span>
                <span class="fas fa-thumbs-up">8,567</span>
              </span>
            </div>
          </div>

          <div class="contributors-card">
            <div class="contributors-card-picture">
              <img src="https://secure.gravatar.com/avatar/304026b94e9b281622a68bb02817e6d3?default=https%3A%2F%2Fassets.zendesk.com%2Fhc%2Fassets%2Fdefault_avatar.png&r=g" alt="AVATAR"
                class="contributors-avatar" />
            </div>
            <div class="contributors-card-data">
              <a href="#" class="contributors-card-data-top">Katie #91KMIA8</a>
              <span class="contributors-card-data-middle">Colonia, Germany</span>
              <span class="contributors-card-data-bottom">
                <span class="fas fa-comment">3,456</span>
                <span class="fas fa-thumbs-up">8,567</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function () {

      // Llamada a API zendesk para obtener los posts

      fillCarousel = async () => {
        await $.ajax({
          url: `/api/v2/community/topics/200126976/posts?page=1&per_page=12&sort_by=votes`,
          method: "GET",
          success: function (data){
            
            let { posts } = data;

            console.log(posts);

            posts.map(post => {
              $(".carousel").append(
                `<div class="carousel-container">
                  <div class="carousel-container-item">
                    <div class="carousel-container-item__text">
                      <a href="${post.html_url} id="title-${post.id}">${post.title}</a>
                    </div>
                    <div class="carousel-container-item__user-data">
                      <img class="carousel-container-item__image" src="https://secure.gravatar.com/avatar/304026b94e9b281622a68bb02817e6d3?default=https%3A%2F%2Fassets.zendesk.com%2Fhc%2Fassets%2Fdefault_avatar.png&r=g" alt="">
                      <a href="#" class="">Katie #91KAMIA0</a>
                    </div>
                    <div class="carousel-container-item__post-data">
                      <span class="fas fa-comment">${post.comment_count}</span>
                      <span class="fas fa-thumbs-up">${post.vote_count}</span>
                    </div>
                  </div>
                </div>`
              );
            })
            console.log("se llena el carousel");
            // Carousel del most popular articles en community topic list page
            console.log("se aplica el slick");
            $(".carousel").slick();
          }
        })
      }

      fillCarousel();

      // Remover el "(Community)" de "Recent Activity (Community)"
      let recentActivity = $(".recent-activity-header").text();
      let recentActivitySplit = recentActivity.split("(");
      $(".recent-activity-header").html(recentActivitySplit[0]);

      //Función para manejar el cambio entre las pestañas "Top" y "Recent"
      $(".tab_content").hide();
      $("ul.tabs li:first").addClass("active").show();
      $(".tab_content:first").show();
      $("ul.tabs li").click(function () {

        $("ul.tabs li").removeClass("active");
        $(this).addClass("active");
        $(".tab_content").hide();

        var activeTab = $(this).find("a").attr("href");
        $(activeTab).fadeIn();
        return false;
      });
    });
  </script>