<h1 class="visibility-hidden">{{ t 'community'}}</h1>

<section class="section hero community-hero">
  <h2 class="visibility-hidden">{{ t 'search'}}</h2>
  <div class="hero-inner">
    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12"
      class="search-icon" aria-hidden="true">
      <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor" />
      <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5" />
    </svg>
    {{search submit=false class='search search-full' scoped=settings.scoped_community_search}}
  </div>
</section>

<div class="container">
  {{!-- <nav class="sub-nav">
    {{breadcrumbs}}
  </nav> --}}

  {{!-- <header class="page-header community-header">
      <span class="dropdown">
          <button class="dropdown-toggle" aria-haspopup="true">
            <h2 class="title">
              {{t 'community_topics'}}
            </h2>
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="dropdown-chevron-icon">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
            </svg>
          </button>
        <span class="dropdown-menu" role="menu">
          {{#link 'topics' role='menuitem' selected='true'}}
            {{t 'show_topics'}}
          {{/link}}
          {{#link 'posts' role='menuitem'}}
            {{t 'show_all_posts'}}
          {{/link}}
        </span>
      </span>
    <span class="post-to-community">
      {{link 'new_post' class='button button-large'}}
    </span>
  </header> --}}
  <div class="description__text">
    <span class="section__message description__text--firstline">Here you can share your experience and ideas, ask and
      answer questions, and meet, other creatives like you.</span>
    <span class="section__message description__text--secondline">Choose the creative group in wich you work. If you want
      participate you must login with your Bunny account.</span>
  </div>

  <nav class="sub-nav sub-nav--centered">
    <li><a href="#">Voice-overs</a></li>
    <li><a href="#">Video</a></li>
    <li><a href="#">Audio</a></li>
    <li><a href="#">Design</a></li>
    <li><a href="#">Post-production</a></li>
    <li><a href="#">Traslation</a></li>
    <li><a href="#">Transcription</a></li>
    <li><a href="#">Writing</a></li>
  </nav>

  {{#unless topics}}
  <p>{{t 'no_content'}}</p>
  {{/unless}}

  <section class="cards">
    {{#each topics}}
    <a href="{{url}}" class="card">
      <div class="card-container">
        <div class="card__top">
          {{! Descomentar para realizar las condiciones y cargar las imágenes}}

                {{#is name 'Tips and advice'}}
                <img class="card__image" src="{{asset 'img_sec_tips_and_advice.png'}}" id="cat-{{id}}" alt="{{name}}">
                {{/is}}

                {{#is name 'Working with us'}}
                <img class="card__image" src="{{asset 'img_sec_working_with_us.png'}}" id="cat-{{id}}" alt="{{name}}">
                {{/is}}

                {{#is name 'Get feedback'}}
                <img class="card__image" src="{{asset 'img_sec_get_feedback.png'}}" id="cat-{{id}}" alt="{{name}}">
                {{/is}}

                {{#is name 'Suggest features'}}
                <img class="card__image" src="{{asset 'img_sec_suggest_features.png'}}" id="cat-{{id}}" alt="{{name}}">
                {{/is}}

                {{#is name 'Why was my submission rejected?'}}
                <img class="card__image" src="{{asset 'img_sec_rejections.png'}}" id="cat-{{id}}" alt="{{name}}">
                {{/is}}

                {{#is name 'Audio discussions'}}
                <img class="card__image" src="{{asset 'img_sec_rates.png'}}" id="cat-{{id}}" alt="{{name}}">
                {{/is}}
                
                {{#is name 'Webinars recaps'}}
                <img class="card__image" src="{{asset 'img_sec_webinar_recaps.png'}}" id="cat-{{id}}" alt="{{name}}">
                {{/is}}
                
                {{#is name 'Report an issue!'}}
                <img class="card__image" src="{{asset 'img_sec_report_an_issue.png'}}" id="cat-{{id}}" alt="{{name}}">
                {{/is}}

        </div>
        <div class="card__middle">
          <b class="card__title">{{name}}</b>
        </div>
        <div class="card__bottom">
          <p class="card__description">{{excerpt description characters=70}}</p>
        </div>
      </div>
    </a>
    {{/each}}
  </section>

  {{pagination}}

  <h3>Most popular articles</h3>

  <div class="carousel">

  </div>

  <div class="articles-section-container">
    <div class="articles-section-container-posts">
      <ul class="tabs">
        <li><a href="#top">Top</a></li>
        <li><a href="#recent">Recent</a></li>
      </ul>
      <div class="tab_container">
        <div class="top-section tab_content" id="top">
          <div id="main-content" class="posts-list">
            {{!#each promoted_articles}}
            <section role="region" aria-labelledby="title-{{!id}}">
              <div class="striped-list-item">
                <span class="striped-list-picture">
                  <img
                    src="https://secure.gravatar.com/avatar/304026b94e9b281622a68bb02817e6d3?default=https%3A%2F%2Fassets.zendesk.com%2Fhc%2Fassets%2Fdefault_avatar.png&r=g"
                    alt="Avatar" class="community-posts-user-avatar" srcset="">
                </span>
                <span class="striped-list-info">
                  <a href="#" id="title-" class="striped-list-title">Top</a>

                  <div class="meta-group">
                    {{!#link 'user_profile' id=author.id}}
                    <span> #</span>
                    {{!/link}}
                    <ul class="header--post-data">
                      <span>
                        <li class="fas fa-calendar-alt"><span>calendar</span></li>
                      </span>
                      <span>
                        <li class="fas fa-comment"><span>coment</span></li>
                      </span>
                      <span>
                        <li class="fas fa-eye"><span>viewed</span></li>
                      </span>
                      <span>
                        <li class="fas fa-thumbs-up"><span>likes</span></li>
                      </span>
                    </ul>
                  </div>
                  <!-- TODO: RESUMEN DEL POST ACTUAL-->
                  {{!-- Agregar el resumen del post actual
                  <div>
                    <span class="striped-list-details">{{excerpt 'aaa' characters=200}}</span>
                    <a href="{{url}}" id="title-{{id}}">read more.</a>
                  </div>
                --}}

                  <div>
                    {{!#if pinned}}
                    <span class="status-label status-label-pinned">{{t 'pinned'}}</span>
                    {{!/if}}
                    {{!#if featured}}
                    <span class="status-label status-label-featured">{{t 'featured'}}</span>
                    {{!/if}}
                    {{!#is status 'none'}}
                    {{!else}}
                    <span
                      class="status-label-{{!status_dasherized}} status-label striped-list-status">{{!status_name}}</span>
                    {{!/is}}
                  </div>
                </span>
              </div>
            </section>
            {{!/each}}
          </div>
        </div>

        <div class="recent-section tab_content" id="recent">
          <div id="main-content" class="posts-list striped-list">
            {{!#each posts}}
            <section role="region" aria-labelledby="title-{{!id}}">
              <div class="striped-list-item">
                <span class="striped-list-picture">
                  <img
                    src="https://secure.gravatar.com/avatar/304026b94e9b281622a68bb02817e6d3?default=https%3A%2F%2Fassets.zendesk.com%2Fhc%2Fassets%2Fdefault_avatar.png&r=g"
                    alt="Avatar" class="community-posts-user-avatar" srcset="">
                </span>
                <span class="striped-list-info">
                  <a href="#" id="title-" class="striped-list-title">Recent</a>

                  <div class="meta-group">
                    {{!#link 'user_profile' id=author.id}}
                    <span> #</span>
                    {{!/link}}
                    <ul class="header--post-data">
                      <span>
                        <li class="fas fa-calendar-alt"><span>calendar</span></li>
                      </span>
                      <span>
                        <li class="fas fa-comment"><span>coment</span></li>
                      </span>
                      <span>
                        <li class="fas fa-eye"><span>viewed</span></li>
                      </span>
                      <span>
                        <li class="fas fa-thumbs-up"><span>likes</span></li>
                      </span>
                    </ul>
                  </div>
                  <!-- TODO: RESUMEN DEL POST ACTUAL-->
                  {{!-- Agregar el resumen del post actual
                  <div>
                    <span class="striped-list-details">{{excerpt 'aaa' characters=200}}</span>
                    <a href="{{url}}" id="title-{{id}}">read more.</a>
                  </div>
                --}}

                  <div>
                    {{!#if pinned}}
                    <span class="status-label status-label-pinned">{{t 'pinned'}}</span>
                    {{!/if}}
                    {{!#if featured}}
                    <span class="status-label status-label-featured">{{t 'featured'}}</span>
                    {{!/if}}
                    {{!#is status 'none'}}
                    {{!else}}
                    <span
                      class="status-label-{{!status_dasherized}} status-label striped-list-status">{{!status_name}}</span>
                    {{!/is}}
                  </div>
                </span>
              </div>
            </section>
            {{!/each}}
          </div>
        </div>
      </div>
    </div>
    <div class="articles-section-container-aside">
      <div class="articles-section-container-aside__image"></div>
      <div class="articles-section-container-aside__box articles-section-container-aside__box--bordered">
        <section class="community-activity activity">
          {{#if help_center.community_enabled}}
          {{recent_activity scope='community'}}
          {{/if}}
        </section>
      </div>
      <div class="articles-section-container-aside__box articles-section-container-aside__box--normal">
        <div class="topic-aside-contributors-cards">
          <div class="topic-aside-contributors-card">
            <div class="topic-aside-contributors-picture">
              <img src="https://i.pinimg.com/originals/c8/62/3b/c8623b908b8db5f2dbd604cdc41d05d0.jpg" alt="AVATAR"
                class="topic-aside-avatar" />
            </div>
            <div class="topic-aside-contributors-data">
              <a href="#" class="topic-contributor-data-top">Katie #91KMIA8</a>
              <span class="topic-contributor-data-middle">Colonia, Germany</span>
              <span class="topic-contributor-data-bottom">
                <span class="fas fa-comment">3,456</span>
                <span class="fas fa-thumbs-up">8,567</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{!--  {{#if featured_posts}}
    <section class="section community-featured-posts">
      <h2 class="title">{{t 'featured_posts'}}</h2>
      <ul class="promoted-articles">
        {{#each featured_posts}}
          <li class="promoted-articles-item">
            <a href="{{url}}">
              {{title}}
            </a>
          </li>
        {{/each}}
      </ul>
    </section>
  {{/if}} --}}


    {{!-- 
  <section class="container community-footer">
    <h2 class="community-footer-title">{{t 'suggest_new_post'}}</h2>
    {{link 'new_post' class='button button-large'}}
  </section> --}}
  </div>

  <script>
    $(document).ready(function () {

      var endpoint = "/api/v2/help_center/community/posts.json";
      var endpoint2 = "/api/v2/community/posts/360009628040/votes.json"
      var endpoint3 = "https://help.bunnystudio.com/api/v2/help_center/community/posts.json?page=2&per_page=30";

      fetchConsoleTest = async () => {
        const pages = 1;
        //for (i = 1; i <= pages; i++) {
        await $.ajax({
          url: `https://help.bunnystudio.com/api/v2/help_center/community/posts.json?page=1&per_page=2`,
          type: "GET",
          dataType: "json",
          success: function (data) {
            let posts = [];
            console.log("---------------POST--------------------")
            console.log(posts)
            console.log("--------------- FIN POST--------------------")
            let n;
            let j = 0;
            n = data.posts.length;
            console.log('+++++++++++++++++++++++++++++++++++++++++');
            console.log(data.posts);
            console.log('+++++++++++++++++++++++++++++++++++++++++');

            for (i = 0; i < n; i++) {
              if (posts.length > 0) {
                for (j = 0; j < posts.length; j++) {
                  if(data.posts[i].author_id == posts[j].author_id){
                    let postCountTemp = posts[j].post_count+1;
                    posts[j].post_count = postCountTemp;
                    j = posts.length;
                  }else if(j == (posts.length -1)) {
                    posts.push({
                      author_id: data.posts[i].author_id, 
                      post_count: 1, 
                      vote_count: data.posts[i].vote_count
                      })
                    console.log("---------------POST--------------------")
                    console.log(posts)
                    console.log("--------------- FIN POST--------------------")

                  }
                }
              } else {
                console.log("else del primer for")
                posts.push({
                  author_id: data.posts[i].author_id,
                  post_count: 1,
                  vote_count: data.posts[i].vote_count
                  }) 
                
              }
            }
          }
        });
        console.log("=== Res ====");
        console.log(posts);
      };

      fetchConsoleTest();

      /*     
           fetchConsole = (endpoint) => {
             $.ajax({
                 url: endpoint,
                 type: "GET",
                 dataType: "json",
                 success: function (data) {
                   console.log(data)
                 }
               });
           }
     
           fetchConsole(endpoint2);
     */
      //fetchConsole(endpoint2);
      //fetchConsole(endpoint3);


      //Función para manejar el cambio entre las pestañas "Top" y "Recent"
      $(".tab_content").hide();
      $("ul.tabs li:first").addClass("active").show();
      $(".tab_content:first").show();
      $("ul.tabs li").click(function () {

        $("ul.tabs li").removeClass("active");
        $(this).addClass("active");
        $(".tab_content").hide();

        var activeTab = $(this).find("a").attr("href");
        $(activeTab).fadeIn();
        return false;
      });
    });
  </script>