<h1 class="visibility-hidden">{{ t 'community'}}</h1>

<section class="section hero community-hero">
  <h2 class="visibility-hidden">{{ t 'search'}}</h2>
  <div class="hero-inner">
    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-icon" aria-hidden="true">
      <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor"/>
      <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5"/>
    </svg>
    {{search submit=false class='search search-full' scoped=settings.scoped_community_search}}
  </div>
</section>

<div class="container">
  {{!-- <nav class="sub-nav">
    {{breadcrumbs}}
  </nav> --}}

  {{!-- <header class="page-header community-header">
      <span class="dropdown">
          <button class="dropdown-toggle" aria-haspopup="true">
            <h2 class="title">
              {{t 'community_topics'}}
            </h2>
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="dropdown-chevron-icon">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
            </svg>
          </button>
        <span class="dropdown-menu" role="menu">
          {{#link 'topics' role='menuitem' selected='true'}}
            {{t 'show_topics'}}
          {{/link}}
          {{#link 'posts' role='menuitem'}}
            {{t 'show_all_posts'}}
          {{/link}}
        </span>
      </span>
    <span class="post-to-community">
      {{link 'new_post' class='button button-large'}}
    </span>
  </header> --}}
  <div class="description__text">
    <span class="description__text--firstline">Here you can share your experience and ideas, ask and answer questions, and meet, other creatives like you.</span>
    <span class="description__text--secondline">Choose the creative group in wich you work. If you want participate you must login with your Bunny account.</span>
  </div>
  
  <nav class="sub-nav sub-nav--centered">
    <li><a href="#">Voice-overs</a></li>
    <li><a href="#">Video</a></li>
    <li><a href="#">Audio</a></li>
    <li><a href="#">Design</a></li>
    <li><a href="#">Post-production</a></li>
    <li><a href="#">Traslation</a></li>
    <li><a href="#">Transcription</a></li>
    <li><a href="#">Writing</a></li>
  </nav>

  {{#unless topics}}
    <p>{{t 'no_content'}}</p>
  {{/unless}}

  <section class="cards">
    {{#each topics}}
      <a href="{{url}}" class="card">
        <div class="card-container">
          <div class="card__top">
                {{! Descomentar para realizar las condiciones y cargar las imágenes}}
                
                {{!-- {{#is name '[VoiceBunny] Tips and Advice'}}
                <img class="card__image" src="{{asset 'img_sec_update.png'}}" id="cat-{{id}}" alt="{{name}}">
                {{/is}}

                {{#is name '[VoiceBunny] Working with Us'}}
                <img class="card__image" src="{{asset 'img_sec_update.png'}}" id="cat-{{id}}" alt="{{name}}">
                {{/is}}

                {{#is name 'General'}}
                <img class="card__image" src="{{asset 'img_sec_general.png'}}" id="cat-{{id}}" alt="{{name}}">
                {{/is}}

                {{#is name 'Payments'}}
                <img class="card__image" src="{{asset 'img_sec_payments.png'}}" id="cat-{{id}}" alt="{{name}}">
                {{/is}}

                {{#is name 'Copyright'}}
                <img class="card__image" src="{{asset 'img_sec_copyright.png'}}" id="cat-{{id}}" alt="{{name}}">
                {{/is}}

                {{#is name 'Revisions'}}
                <img class="card__image" src="{{asset 'img_sec_revisions.png'}}" id="cat-{{id}}" alt="{{name}}">
                {{/is}}

                {{#is name 'Add-on'}}
                <img class="card__image" src="{{asset 'img_sec_add_on.png'}}" id="cat-{{id}}" alt="{{name}}">
                {{/is}} --}}

            </div>
          <div class="card__middle">
            <b class="card__title">{{name}}</b>
          </div>
          <div class="card__bottom">
            <p class="card__description">{{excerpt description}}</p>
          </div>
        </div>
      </a>
    {{/each}}
  </section>

  {{pagination}}

  {{#if featured_posts}}
    <section class="section community-featured-posts">
      <h2 class="title">{{t 'featured_posts'}}</h2>
      <ul class="promoted-articles">
        {{#each featured_posts}}
          <li class="promoted-articles-item">
            <a href="{{url}}">
              {{title}}
            </a>
          </li>
        {{/each}}
      </ul>
    </section>
  {{/if}}

  <section class="community-activity activity">
    {{#if help_center.community_enabled}}
      {{recent_activity scope='community'}}
    {{/if}}
  </section>

  <section class="container community-footer">
    <h2 class="community-footer-title">{{t 'suggest_new_post'}}</h2>
    {{link 'new_post' class='button button-large'}}
  </section>
</div>
