<div class="container-divider"></div>
<div class="container">
   <nav class="sub-nav">
    {{breadcrumbs}}
    <div class="search-container">
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-icon">
        <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor"/>
        <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5"/>
      </svg>
      {{search scoped=settings.scoped_community_search submit=false}}
    </div>
  </nav>
</div>

<div class="container community-topic-container">
  <div class="community-topic-container-left">
    <header class="page-header">
      <h1>
        {{topic.name}}
        {{#if topic.internal}}
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" class="icon-lock" title="{{t 'internal'}}">
            <rect width="12" height="9" x="2" y="7" fill="currentColor" rx="1" ry="1"/>
            <path fill="none" stroke="currentColor" d="M4.5 7.5V4a3.5 3.5 0 017 0v3.5"/>
          </svg>
        {{/if}}
      </h1>
      <span>Sharing is caring Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, beatae libero, aliquid optio non neque.</span>
    </header>
{{!--     <div class="community-header">
      <p class="page-header-description">{{topic.description}}</p>
      {{#if settings.show_follow_topic}}
        <div class="community-follow">
          {{subscribe}}
        </div>
      {{/if}}
    </div>

    <div class="topic-header">
      <span class="topic-filters">
        <span class="dropdown">
          <button class="dropdown-toggle" aria-haspopup="true">
            {{current_filter.label}}
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="dropdown-chevron-icon">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
            </svg>
          </button>
          <span class="dropdown-menu" role="menu">
            {{#each filters}}
              <a href="{{url}}" aria-selected="{{selected}}" role="menuitem">
                {{name}}
              </a>
            {{/each}}
          </span>
        </span>
        <span class="dropdown">
          <button class="dropdown-toggle" aria-haspopup="true">
            {{current_sorter.label}}
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="dropdown-chevron-icon">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
            </svg>
          </button>
          <span class="dropdown-menu" role="menu">
            {{#each sorters}}
              <a href="{{url}}" aria-selected="{{selected}}" role="menuitem">
                {{name}}
              </a>
            {{/each}}
          </span>
        </span>
      </span>
    </div> --}}

    <div id="main-content" class="posts-list striped-list">
      {{#each posts}}
          <section role="region" aria-labelledby="title-{{id}}">
            <div class="striped-list-item {{#if featured}}post-featured{{/if}}">
              <span class="striped-list-picture">
                <img src="{{author.avatar_url}}" alt="Avatar" class="community-posts-user-avatar" srcset="">
              </span>
              <span class="striped-list-info">
                <a href="{{url}}" id="title-{{id}}" class="striped-list-title">{{title}}</a>
                
                <div class="meta-group">
                  {{#link 'user_profile' id=author.id}}
                    <span>{{author.name}} #{{author.id}}</span>
                  {{/link}}
                  <ul class="header__article-data">
                    <span><li class="fas fa-calendar-alt">{{date created_at class='metadata' format='short'}}</li></span>
                    <span><li class="fas fa-comment">{{comment_count}}</li></span>
                    <span><li class="fas fa-eye"></li></span>
                    <span><li class="fas fa-thumbs-up">{{vote_sum}}</li></span>
                  </ul>
                </div>
                
                <div class="striped-list-details">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique earum repellendus numquam ratione quam, sit, nisi ipsum architecto</div>
                
                <div>
                  {{#if pinned}}
                    <span class="status-label status-label-pinned">{{t 'pinned'}}</span>
                  {{/if}}
                  {{#if featured}}
                    <span class="status-label status-label-featured">{{t 'featured'}}</span>
                  {{/if}}
                  {{#is status 'none'}}
                  {{else}}
                    <span class="status-label-{{status_dasherized}} status-label striped-list-status">{{status_name}}</span>
                  {{/is}}
                </div>
              </span>
            </div>
          </section>
      {{/each}}
    </div>
    {{pagination}}

    <section class="container community-footer">
      <h2 class="community-footer-title">{{t 'suggest_new_post'}}</h2>
      {{#link 'new_post' class='button button-large'}}START YOUR CONVERSATION{{/link}}
    </section>
  </div>

  <div class="community-topic-container-right">
      <section class="community__topic-aside">
        <div class="topic-aside-top">
          <p class="topic-aside-text">Share with others creatives about your stories, experiences and ask the community for advice.</p>
          <span class="post-to-community">
            {{#link 'new_post' class='button button-large'}}START YOUR CONVERSATION{{/link}}
          </span>
        </div>

        <div class="topic-aside-middle">
          <div class="topic-aside-labels-section">
            <h2>Labels</h2>
            <div class="topic-aside-labels">
              <a href="#" class="tag">Booking</a>
              <a href="#" class="tag">Rates</a>
              <a href="#" class="tag">Booking</a>
              <a href="#" class="tag">Rates</a>
              <a href="#" class="tag">Booking</a>
              <a href="#" class="tag">Rates</a>
            </div>
          </div>
        </div>

        <div class="topic-aside-bottom">
          <div class="topic-aside-contributors-title">
            <h2>Top contributors</h2>
          </div>
          <div class="topic-aside-contributors-cards">
            <div class="topic-aside-contributors-card">
              <div class="topic-aside-contributors-picture">
                <img src="https://i.pinimg.com/originals/c8/62/3b/c8623b908b8db5f2dbd604cdc41d05d0.jpg" alt="AVATAR" class="topic-aside-avatar"/>
              </div>
              <div class="topic-aside-contributors-data">
                <a href="#" class="topic-contributor-data-top">Katie #91KMIA8</a>
                <span class="topic-contributor-data-middle">Colonia, Germany</span>
                <span class="topic-contributor-data-bottom">
                  <span class="fas fa-comment">3,456</span>
                  <span class="fas fa-thumbs-up">8,567</span>
                </span>
              </div>
            </div>

            <div class="topic-aside-contributors-card">
              <div class="topic-aside-contributors-picture">
                <img src="https://i.pinimg.com/originals/c8/62/3b/c8623b908b8db5f2dbd604cdc41d05d0.jpg" alt="AVATAR" class="topic-aside-avatar"/>
              </div>
              <div class="topic-aside-contributors-data">
                <a href="#" class="topic-contributor-data-top">Katie #91KMIA8</a>
                <span class="topic-contributor-data-middle">Colonia, Germany</span>
                <span class="topic-contributor-data-bottom">
                  <span class="fas fa-comment">3,456</span>
                  <span class="fas fa-thumbs-up">8,567</span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </section>
  </div>
</div>
<script src="{{asset 'js_sub-page.js'}}"></script>