<div class="container-divider"></div>
<div class="container">
  <nav class="sub-nav">
    {{breadcrumbs}}
    <div class="search-container">
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12"
        class="search-icon">
        <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor" />
        <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5" />
      </svg>
      {{search scoped=settings.scoped_community_search submit=false}}
    </div>
  </nav>

  <div class="post-container">
    <div class="post">
      <article id="main-content">
        <header class="post-header page-header">
          <div class="post-title">
            <h1 title="{{post.title}}">
              {{post.title}}
              {{#if post.internal}}
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16"
                class="icon-lock" title="{{t 'internal'}}">
                <rect width="12" height="9" x="2" y="7" fill="currentColor" rx="1" ry="1" />
                <path fill="none" stroke="currentColor" d="M4.5 7.5V4a3.5 3.5 0 017 0v3.5" />
              </svg>
              {{/if}}
            </h1>

          </div>
          {{!-- {{#if settings.show_follow_post}}
            <div class="community-follow">
              {{subscribe}}
            </div>
          {{/if}} --}}
        </header>

        <section class="post-info-container">
          <div class="post-info">
            <div class="post-author">
              <div class="avatar post-avatar">
                {{#if post.author.agent}}
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12"
                  class="icon-agent">
                  <path fill="currentColor"
                    d="M6 0C2.7 0 0 2.7 0 6s2.7 6 6 6 6-2.7 6-6-2.7-6-6-6zm0 2c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zm2.3 7H3.7c-.3 0-.4-.3-.3-.5C3.9 7.6 4.9 7 6 7s2.1.6 2.6 1.5c.1.2 0 .5-.3.5z" />
                </svg>
                {{/if}}
                <img src="{{post.author.avatar_url}}" alt="" class="user-avatar" />
              </div>
              <div class="post-meta">
                <span title="{{post.author.name}}">
                  {{#link 'user_profile' id=post.author.id}}
                  {{post.author.name}} #{{post.author.id}}
                  {{/link}}
                </span>

                <ul class="meta-group">
                  <span>
                    <li class="fas fa-calendar-alt post-meta__data"><span>calendar</span></li>
                    {{date post.created_at class='metadata' format='short' }}
                  </span>
                  <span>
                    <li class="fas fa-comment post-meta__data"><span>comment</span></li>
                    {{post.comment_count}}
                  </span>
                  <span>
                    <li class="fas fa-thumbs-up post-meta__data"><span>like</span></li>
                    {{post.vote 'sum' class='vote-sum'}}
                  </span>
                  <span class="config-post">
                    {{#post.actions class="config"}}
                      <li class="fas fa-cog"><span>actions</span></li>
                    {{/post.actions}}
                  </span>

                  <div class="container-status-label">
                    {{#if post.pinned}}
                    <span class="status-label status-label-pinned">{{t 'pinned'}}</span>
                    {{/if}}

                    {{#if post.featured}}
                    <span class="status-label status-label-featured">{{t 'featured'}}</span>
                    {{/if}}

                    {{#is post.status 'none'}}
                    {{else}}
                    <span class="status-label-{{post.status_dasherized}} status-label">{{post.status_name}}</span>
                    {{/is}}
                  </div>
                </ul>
              </div>

              {{#if post.pending}}
              <span class="status-label status-label-pending-moderation">{{t 'pending_approval'}}</span>
              {{/if}}

              {{#with post.ticket}}
              <a href="{{url}}" target="_zendesk_lotus" class="status-label escalation-badge">
                {{t 'request'}}{{id}}
              </a>
              {{/with}}
            </div>


            <div class="post-content">
              <div class="post-body">{{post.details}}</div>
            </div>
          </div>
        </section>

        {{#if settings.show_post_sharing}}
        <footer class="post-footer">
          <div class="meta-group meta-group--wide">
            <span>
              <li class="fas fa-thumbs-up post-meta__data"><span>like</span></li>
                {{#post.vote 'up' class='post-vote-up' selected_class='vote-voted'}}Like{{/post.vote}}
            </span>
            <div class="post-share">
                <span>
                  <i class="fas fa-share"><span>share</span></i>
                  share
                </span>
              <div class="post-share">{{share}}</div>
            </div>
          </div>
        </footer>
        {{/if}}
      </article>

      <ul id="comments" class="comment-list">
        {{#each comments}}
        <li id="{{anchor}}" class="comment">
          <div class="comment-wrapper {{#if official}} comment-official {{/if}}">
            <div class="comment-info">


              <div class="comment-author">
                <div class="avatar comment-avatar">
                  {{#if author.agent}}
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12"
                    class="icon-agent">
                    <path fill="currentColor"
                      d="M6 0C2.7 0 0 2.7 0 6s2.7 6 6 6 6-2.7 6-6-2.7-6-6-6zm0 2c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zm2.3 7H3.7c-.3 0-.4-.3-.3-.5C3.9 7.6 4.9 7 6 7s2.1.6 2.6 1.5c.1.2 0 .5-.3.5z" />
                  </svg>
                  {{/if}}
                  <img src="{{author.avatar_url}}" alt="" class="user-avatar" />
                </div>
                <div class="comment-meta">
                  <span title="{{author.name}}">
                    {{#link 'user_profile' id=author.id}}
                    {{author.name}} #{{author.id}}
                    {{/link}}
                  </span>

                  <ul class="meta-group">
                    <span>
                      <li class="fas fa-calendar-alt post-meta__data"><span>calendar</span></li>
                      {{date created_at class='metadata' format='short' }}
                    </span>
                    <span>
                      <li class="fas fa-thumbs-up post-meta__data"><span>like</span></li>
                      {{vote 'sum' class='vote-sum'}}
                    </span>
                    {{#actions}}
                      <span>
                        <li class="fas fa-cog"><span>actions</span></li>
                      </span>
                    {{/actions}}

                    <div class="meta-group--status-label">
                      {{#if official}}
                        <span class="comment-official status-label status-label-official">{{t 'official_comment'}}</span>
                      {{/if}}
                    </div>
                  </ul>

                </div>
                <div class="comment-labels">
                  {{#with ticket}}
                  <a href="{{url}}" target="_zendesk_lotus" class="status-label escalation-badge">
                    {{t 'request'}} {{id}}
                  </a>
                  {{/with}}
                  {{#if pending}}
                  <span
                    class="comment-pending status-label status-label-pending-moderation">{{t 'pending_approval'}}</span>
                  {{/if}}
                </div>
              </div>

              <section class="comment-body">{{body}}</section>
            </div>

            <!-- linea comentada-->

            <div class="comment-actions-container">
              {{#unless official}}
              <div class="comment-vote vote" role="group">
                {{#vote 'up' role='radio' class='vote-up' selected_class='vote-voted'}}
                <span>
                  <li class="fas fa-thumbs-up"><span>like</span></li>
                  like
                </span>
                {{/vote}}
              </div>
              {{/unless}}
              <div class="comment-share">
                <span>
                  <i class="fas fa-share"><span>share</span></i>
                  share
                </span>
                <div class="post-share">{{share}}</div>
              </div>
            </div>
            <!-- fin linea comentada -->
          </div>
        </li>
        {{/each}}
      </ul>

      {{pagination}}

      
        {{#form 'comment' class='comment-form post-comments'}}
          
            <span class="comment-form__title">Reply</span>
            <div class="comment-container">
              {{wysiwyg 'body'}}
              <div class="comment-form-controls">
                {{checkbox 'official'}}
                {{label 'official'}}
                {{input type='submit' class="button button-large" value="SEND"}}
              </div>
            </div>
          
        {{/form}}


      <p class="comment-callout">{{comment_callout}}</p>
    </div>

    <section class="post-sidebar">
      <p class="post-sidebar__text">Share with others creatives about your stories, experiences and ask the community
        for
        advice.</p>
      <span class="post-sidebar__button">
        {{#link 'new_post' class='button button-large'}}START YOUR CONVERSATION{{/link}}
      </span>
    </section>
  </div>
</div>
<script src="{{asset 'js_sub-page.js'}}"></script>

<script>
  $('.actual #help_center').remove();
</script>