<div class="container-divider"></div>
<div id="main-content" class="error-page">
  <div class="content error-page-container">
    <div class="error-page-img">
      <img src="{{asset 'img_error_page.png'}}" alt="">
    </div>
    <div class="container-info-error">
      <h1>{{t 'oops'}}!</h1>

      {{#is error 'unauthorized'}}
      <h2>{{link 'sign_in'}}</h2>
      {{/is}}

      {{#is error 'forbidden'}}
      <h2>{{t 'not_authorized'}}</h2>
      {{/is}}

      {{#is error 'not_found'}}
      <h2>{{t 'nonexistent_page'}}</h2>
      <p>{{t 'mistyped_address_or_moved_page'}}</p>
      {{/is}}

      {{#link 'help_center' class='button'}}
      Go back home
      {{/link}}
    </div>
  </div>
</div>
<script src="{{asset 'js_sub-page.js'}}"></script>