<h1 class="visibility-hidden">{{ help_center.name }}</h1>
<section id="main-content" class="section hero">
  <div class="hero-text">
    <span class="hero-text--first-text">Hi there, welcome<br>to our community!</span>
    <span class="hero-text--second-text">How can <i>we help you?</i></span>
  </div>
  <div class="hero-inner">
    <h2 class="visibility-hidden">{{ t 'search' }}</h2>
    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12"
      class="search-icon" aria-hidden="true">
      <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor" />
      <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5" />
    </svg>
    {{search submit=true scoped=true instant=settings.instant_search class='search search-full home-search'}}
  </div>
</section>
<section class="menu-categories">
  <nav class="nav">
    <div class="nav--arrow-left">
      <img src="{{asset 'img_nav_arrow_left.png'}}" alt="">
    </div>
    <div class="nav--text-profile">
      <span>I'm a</span>
    </div>
    <div class="nav--arrow-rigth">
      <img src="{{asset 'img_nav_arrow_right.png'}}" alt="">
    </div>
    {{#each categories}}
    {{#if ../has_multiple_categories}}
    {{#is id 200296637}}
    <div class="nav--button-client">
      <img src="{{asset 'img_nav_button_client_on.png'}}" alt="button client">
    </div>
    <div class="nav--button-pros">
      <a href="/hc/en-us/categories/200296218-Help-for-Pros">
        <img src="{{asset 'img_nav_button_pros_off.png'}}" alt="button pros">
      </a>
    </div>
  </nav>
</section>
<div class="container">
  <section class="section knowledge-base">
    <h2 class="visibility-hidden">{{ t 'categories' }}</h2>
    <span class="section__message">
      Choose the topic that best matches your question
    </span>
    <section class="cards">
      {{#each sections }}
      <div class="card" >
        <a class="card-container" href="{{url}}">
          <div class="card__top">
            {{#is name 'Update'}}
            <img class="card__image" src="{{asset 'img_sec_update.png'}}" id="cat-{{id}}" alt="{{name}}">
            {{/is}}

            {{#is name 'Updates'}}
            <img class="card__image" src="{{asset 'img_sec_update.png'}}" id="cat-{{id}}" alt="{{name}}">
            {{/is}}

            {{#is name 'General'}}
            <img class="card__image" src="{{asset 'img_sec_general.png'}}" id="cat-{{id}}" alt="{{name}}">
            {{/is}}

            {{#is name 'Payments'}}
            <img class="card__image" src="{{asset 'img_sec_payments.png'}}" id="cat-{{id}}" alt="{{name}}">
            {{/is}}

            {{#is name 'Copyrights'}}
            <img class="card__image" src="{{asset 'img_sec_copyright.png'}}" id="cat-{{id}}" alt="{{name}}">
            {{/is}}

            {{#is name 'Revisions'}}
            <img class="card__image" src="{{asset 'img_sec_revisions.png'}}" id="cat-{{id}}" alt="{{name}}">
            {{/is}}

            {{#is name 'Add-ons'}}
            <img class="card__image" src="{{asset 'img_sec_add_on.png'}}" id="cat-{{id}}" alt="{{name}}">
            {{/is}}

            {{#is name 'Account Preferences'}}
            <img class="card__image" src="{{asset 'img_sec_account_preferences.png'}}" id="cat-{{id}}" alt="{{name}}">
            {{/is}}

            {{#is name 'Account'}}
            <img class="card__image" src="{{asset 'img_sec_account_preferences.png'}}" id="cat-{{id}}" alt="{{name}}">
            {{/is}}

            {{#is name 'Affiliates and API'}}
            <img class="card__image" src="{{asset 'img_sec_afiliates_and_api.png'}}" id="cat-{{id}}" alt="{{name}}">
            {{/is}}

            {{#is name 'Getting Started'}}
            <img class="card__image" src="{{asset 'img_sec_getting_started.png'}}" id="cat-{{id}}" alt="{{name}}">
            {{/is}}

            {{#is name 'Getting started'}}
            <img class="card__image" src="{{asset 'img_sec_getting_started.png'}}" id="cat-{{id}}" alt="{{name}}">
            {{/is}}

            {{#is name 'Samples'}}
            <img class="card__image" src="{{asset 'img_sec_samples.png'}}" id="cat-{{id}}" alt="{{name}}">
            {{/is}}

            {{#is name 'Stats'}}
            <img class="card__image" src="{{asset 'img_sec_stats.png'}}" id="cat-{{id}}" alt="{{name}}">
            {{/is}}

            {{#is name 'Projects'}}
            <img class="card__image" src="{{asset 'img_sec_projects.png'}}" id="cat-{{id}}" alt="{{name}}">
            {{/is}}

            {{#is name 'Rejections'}}
            <img class="card__image" src="{{asset 'img_sec_rejections.png'}}" id="cat-{{id}}" alt="{{name}}">
            {{/is}}

            {{#is name 'Rates'}}
            <img class="card__image" src="{{asset 'img_sec_rates.png'}}" id="cat-{{id}}" alt="{{name}}">
            {{/is}}

            {{#is name 'Quality Control Standards'}}
            <img class="card__image" src="{{asset 'img_sec_quality_control_standards.png'}}" id="cat-{{id}}"
              alt="{{name}}">
            {{/is}}
            {{#is name 'Scripts for Samples'}}
            <img class="card__image" src="{{asset 'img_sec_script_for_samples.png'}}" id="cat-{{id}}" alt="{{name}}">
            {{/is}}



          </div>
          <div class="card__middle">
            <b class="card__title">{{name}}</b>
          </div>
          <div class="card__bottom">
            <p class="card__description">{{description}}</p>
          </div>
        </a>
        <div class="card-hover">
          <div class="card-top">
            <a class="card__title" href="{{url}}">{{name}}</a>
          </div>
          <div class="card__middle">
            {{#each articles}}
            <a href="{{url}}">{{excerpt title characters=40}}</a>
            {{/each}}
            <a class="see-more" href="{{url}}">See all</a>
          </div>
        </div>
      </div>
      {{/each}}
      <div class="card-empty"></div>
      <div class="card-empty"></div>
      <div class="card-empty"></div>
    </section>
  </section>
</div>

<div class="container-articles section">
  <section class="container">
    <h3>Most popular articles</h3>
    <div class="list-articles">
      
    </div>
  </section>
</div>
{{!--/if--}}

<div class="container">
  <div class="second-banner banners-container">
    <div class="second-banner second-banner--left client">
      <div class="second-banner--container-text">
        <span class="second-banner--left-first-text">Need extra help from<br>our team?</span>
        <span class="second-banner--left-second-text"></span>
        {{#link 'new_request' class='button button-large'}}CONTACT US HERE{{/link}}
      </div>
    </div>
    <div class="second-banner second-banner--right client">
      <div class="second-banner--container-text">
        <span class="second-banner--right-first-text">What kind of talent creative work do you need?</span>
        <a href="https://bunnystudio.com/" class="button button-large">submit your project</a>
      </div>
    </div>
  </div>
</div>

{{/is}}
{{/if}}
{{/each}}

<script>

  fillMostPopular = async () => {
    await $.ajax({
      url: `/api/v2/help_center/en-us/categories/200296637/articles?page=1&per_page=8&sort_by=votes`,
      method: "GET",
      success: function (data) {

        let { articles } = data;

        articles.map(article => {
          $(".list-articles").append(
            `<div class="popular-article">
              <i class="bunny-icon"><img src="{{asset 'img_icon_carrot.svg'}}" alt="carrot bunny studio"></i>
              <div class="popular-article-content">
                <div class="popular-article-content--title">
                  <a href="${article.html_url}">${article.title}</a>
                </div>
                <div class="popular-article-content--excerpt">
                  <p>${article.body.replace(/(<([^>]+)>)/ig, '').substring(0, 100)}</p>
                </div>
                <div class="popular-article-content--more">
                  <a href="${article.html_url}">
                    <span>
                      Read more
                      <i class="fas fa-chevron-right"><span>more</span></i>
                    </span>
                  </a>
                </div>
              </div>
            </div>`
          );
        })
      }
    })
  }

  fillMostPopular();
</script>

<script>
  $(document).ready(function () {
      $('#link_actual a').attr('href','#');
      $('#link_actual a').append('Help for clients');
    }
  )
</script>