<div class="container-divider"></div>
<div class="container">
  <nav class="sub-nav">
    {{breadcrumbs}}
    <div class="search-container">
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-icon">
        <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor"/>
        <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5"/>
      </svg>
      {{search submit=false}}
    </div>
  </nav>
  <div class="container-request-form">
    <div class="page-header page-header-request-page">
      <h1>
        {{t 'submit_a_request'}}
        <span class="follow-up-hint">
          {{follow_up}}
        </span>
      </h1>
    </div>

    <div id="main-content" class="form">
      {{request_form}}
    </div>
  </div>
</div>
<script src="{{asset 'js_sub-page.js'}}"></script>
<script>
  $(document).ready( function () {
      $('#request_collaborators_').attr('placeholder', "Add your email (CC optional)");
      $('#request_anonymous_requester_email').attr('placeholder', "Add your email");
      $('#request_subject').attr('placeholder', 'Subject')
      $('#request_description').attr('placeholder', 'Describe your request')
      $('#request_custom_fields_28155118_label').html('What brings you to our platform?<span>(Optional)</span>')
  })
</script>

<script>
  $('.actual #help_center').remove();
</script>