<div class="container-divider"></div>
<div class="container">
  <nav class="sub-nav">
    {{breadcrumbs}}
    <div class="search-container">
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-icon">
        <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor"/>
        <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5"/>
      </svg>
      {{search submit=false instant=settings.instant_search}}
    </div>
  </nav>

  <div class="search-results">
    <aside class="search-results-sidebar">
      {{#if help_center_filters}}
        <section class="filters-in-section collapsible-sidebar" aria-expanded="false">
          <button type="button" class="collapsible-sidebar-toggle" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" focusable="false" viewBox="0 0 12 12" aria-hidden="true" class="collapsible-sidebar-toggle-icon chevron-icon">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" focusable="false" viewBox="0 0 12 12" aria-hidden="true" class="collapsible-sidebar-toggle-icon x-icon">
              <path stroke="currentColor" stroke-linecap="round" d="M3 9l6-6m0 6L3 3"/>
            </svg>
          </button>
          <h3 class="collapsible-sidebar-title sidenav-title">{{t 'filter_by_help_center'}}</h3>
          <ul class="multibrand-filter-list multibrand-filter-list--collapsed">
            {{#each help_center_filters}}
              <li>
              {{#if selected}}
                <a href="{{url}}" class="sidenav-item current" aria-current="page">
              {{else}}
                <a href="{{url}}" class="sidenav-item">
              {{/if}}
                  <span class="sidenav-subitem filter-name">{{name}}</span>
                  <span class="sidenav-subitem doc-count">({{count}})</span>
                </a>
              </li>
            {{/each}}
            <button class="see-all-filters" aria-hidden="true" aria-label="{{t 'show_more_help_centers'}}">{{t 'show_more_help_centers'}}</button>
          </ul>
        </section>
      {{/if}}
      {{#if help_center.community_enabled}}
        <section class="filters-in-section collapsible-sidebar" aria-expanded="false">
          <button type="button" class="collapsible-sidebar-toggle" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" focusable="false" viewBox="0 0 12 12" aria-hidden="true" class="collapsible-sidebar-toggle-icon chevron-icon">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" focusable="false" viewBox="0 0 12 12" aria-hidden="true" class="collapsible-sidebar-toggle-icon x-icon">
              <path stroke="currentColor" stroke-linecap="round" d="M3 9l6-6m0 6L3 3"/>
            </svg>
          </button>
          <h3 class="collapsible-sidebar-title sidenav-title">{{t 'filter_by_type'}}</h3>
          <ul class="multibrand-filter-list multibrand-filter-list--collapsed" id="ul-collapsed">
            {{#each filters}}
              <li>
              {{#if selected}}
                <a href="{{url}}" class="sidenav-item current" aria-current="page">
                  <span class="sidenav-subitem filter-name">{{name}}</span>
                  <span class="sidenav-subitem doc-count">({{count}})</span>
                </a>

                <div class="container-subfilter-selected" id="container-subfilter-selected">

                  </div>
              {{else}}
                <a href="{{url}}" class="sidenav-item">
                  <span class="sidenav-subitem filter-name">{{name}}</span>
                  <span class="sidenav-subitem doc-count">({{count}})</span>
                </a>
              {{/if}}

              </li>
            {{/each}}
          </ul>
        </section>
      {{/if}}
      {{#if subfilters}}
        <section class="filters-in-section collapsible-sidebar" aria-expanded="false">
          <ul class="multibrand-filter-list multibrand-filter-list--collapsed" id="subfilter-selected">
            {{#each subfilters}}
              <li>
                {{#if selected}}
                  <a href="{{url}}" class="sidenav-item current" aria-current="page">
                {{else}}
                  <a href="{{url}}" class="sidenav-item">
                {{/if}}
                  <span class="sidenav-subitem filter-name">{{name}}</span>
                  <span class="sidenav-subitem doc-count">({{count}})</span>
                </a>
              </li>
            {{/each}}
            {{#is current_filter.identifier 'knowledge_base'}}
              <button class="see-all-filters" aria-hidden="true" aria-label="{{t 'show_more_categories'}}">{{t 'show_more_categories'}}</button>
            {{/is}}
            {{#is current_filter.identifier 'community'}}
              <button class="see-all-filters" aria-hidden="true" aria-label="{{t 'show_more_topics'}}">{{t 'show_more_topics'}}</button>
            {{/is}}
          </ul>
        </section>
      {{/if}}
    </aside>

    <section id="main-content" class="search-results-column">
      {{#if results}}
      <h1 class="search-results-subheading">
        Search results
      </h1>
      <span class="count-result-query">
        {{#is current_filter.identifier 'unified'}}
        {{t 'results' query=query count=results_count}}
        {{else}}
        {{#unless current_subfilter.identifier}}
        {{t 'results' query=query count=results_count}}
        {{else}}
        {{t 'results_with_scope' query=query count=results_count scope_name=current_subfilter.name}}
        {{/unless}}
        {{/is}}
      </span>

      <ul class="search-results-list">
          {{#each results}}
            <li class="search-result-list-item result-{{type}}">
              <h2 class="search-result-title">
                <a href="{{url}}" class="results-list-item-link">{{title}}</a>
              </h2>
              <article>
                <ul class="meta-group">
                  <li>
                    <ol class="breadcrumbs search-result-breadcrumbs">
                      {{#each path_steps}}
                        <li title="{{name}}"><a href="{{url}}">{{name}}</a></li>
                      {{/each}}
                    </ol>
                  </li>
                </ul>
                <div class="search-results-description">{{text}} <a href="{{url}}">read more...</a></div>
              </article>
            </li>
          {{/each}}
        </ul>
      {{else}}
        <div class="no-result">
          <div class="no-result-img">
            <img src="{{asset 'img_search_no-results.png'}}" alt="">
          </div>
          <h2>
            Sorry! {{t 'results' query=query count=results_count}}
          </h2>
          <a href="javascript: history.go(-1)" class="button">Go Back</a>
        </div>
      {{/if}}
    </section>
  </div>
  {{pagination}}
</div>
<script src="{{asset 'js_sub-page.js'}}"></script>
<script>
  $(document).ready(function () {
    $('#subfilter-selected').appendTo('#container-subfilter-selected');
    $('.see-all-filters').click(function() {
      $('#subfilter-selected').removeClass('multibrand-filter-list--collapsed')
      $('#ul-collapsed').removeClass('multibrand-filter-list--collapsed')
    })
  })
</script>
<script>
  $('.actual #help_center').remove();
  $('.actual #community').remove();
  $('.link-base #help_center').remove();
</script>