<div class="container-divider"></div>
<div class="container">
  <nav class="sub-nav">
    {{breadcrumbs}}
    <div class="search-container">
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-icon">
        <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor"/>
        <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5"/>
      </svg>
      {{search submit=false}}
    </div>
  </nav>
</div>
<div class="container category-article-container">
  <div class="category-article-container-left">
    <header class="page-header">
      <h1>
        {{section.name}}
      </h1>
      {{#if section.description}}
        <p class="page-header-description page-header-description--tiny">{{section.description}}</p>
      {{/if}}
    </header>
    {{#if section.articles}}
      <div id="main-content" class="articles-list striped-list">
      {{#each section.articles}}
          <section role="region" aria-labelledby="title-">
            <div class="striped-list-item">
              <span class="striped-list-info">
                <a href="{{url}}" id="title-{{id}}" class="striped-list-title">{{title}}</a>
              </span>
            </div>
          </section>
      {{/each}}
    </div>
    {{else}}
      <i class="section-empty">
        <a href="{{section.url}}">{{t 'empty'}}</a>
      </i>
    {{/if}}
    {{pagination}}

  </div>
</div>
<script src="{{asset 'js_sub-page.js'}}"></script>
<script>
  let linkActual = $('ol.breadcrumbs li:nth-child(2) a').attr('href');
  let textLinkActual = $('ol.breadcrumbs li:nth-child(2)').attr('title');
  $('#link_actual a').attr('href',linkActual);
  $('#link_actual a').append(textLinkActual);
</script>
<script>
  (() => {
    if ($('#main-content section').length < 6){
      $('#main-content').addClass('column-section')
    }
  })();
</script>