<div class="container-divider"></div>
<div class="container">
  <nav class="sub-nav">
    {{breadcrumbs}}
    <div class="search-container">
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-icon">
        <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor"/>
        <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5"/>
      </svg>
      {{search submit=false}}
    </div>
  </nav>
</div>
<div class="container community-topic-container">
  <div class="community-topic-container-left">
    <header class="page-header">
      <h1>
        {{section.name}}
      </h1>
      {{#if section.description}}
        <p class="page-header-description">{{section.description}}</p>
      {{/if}}
    </header>
    {{#if section.articles}}
      <div id="main-content" class="posts-list striped-list">
      {{#each section.articles}}
          <section role="region" aria-labelledby="title-">
            <div class="striped-list-item">
              <span class="striped-list-picture">
                <img src="{{author.avatar_url}}" alt="Avatar" class="community-posts-user-avatar" srcset="">
              </span>
              <span class="striped-list-info">
                <a href="{{url}}" id="title-{{id}}" class="striped-list-title">{{title}}</a>
                {{#if internal}}
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" class="icon-lock" title="{{t 'internal'}}">
                    <rect width="12" height="9" x="2" y="7" fill="currentColor" rx="1" ry="1"/>
                    <path fill="none" stroke="currentColor" d="M4.5 7.5V4a3.5 3.5 0 017 0v3.5"/>
                  </svg>
                {{/if}}

                <div class="meta-group">
                  {{#link 'user_profile' id=author.id}}
                    <span>{{author.name}} #{{author.id}}</span>
                  {{/link}}
                  <ul class="header__article-data">
                    <span><li class="fas fa-calendar-alt"><span>calendar</span></li>{{date created_at class='metadata' format='short'}}</span>
                    {{#if comments_disabled }}<span><li class="fas fa-comment"><span>comment</span></li>{{comment_count}}</span>{{/if}}
                    <span><li class="fas fa-thumbs-up"><span>like</span></li>{{upvote_count}}</span>
                  </ul>
                </div>

                <div>
                  <span class="striped-list-details">{{excerpt body characters=200}}</span>
                  <a href="{{url}}" id="title-{{id}}">read more.</a>
                </div>
              </span>
            </div>
          </section>
      {{/each}}
    </div>
    {{else}}
      <i class="section-empty">
        <a href="{{section.url}}">{{t 'empty'}}</a>
      </i>
    {{/if}}
    {{pagination}}

  </div>

  <div class="community-topic-container-right">

  </div>
</div>
<script src="{{asset 'js_sub-page.js'}}"></script>